{% extends 'base.html' %}

{% block add_tag %}
<h1>Create a Tag</h1>
<form method="POST">
    <div class="form-group">
      <label for="name" >Name</label>
      <input type="text" class="form-control" id="name" name="name" required>
    </div>
    {% for post in posts %}
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="post_ids" value="{{post.id}}" id="{{post.id}}">
      <label class="form-check-label" for="{{post.id}}">
        {{post.title}}
      </label>
    </div>
    {% endfor %}
    <br>
    <a href="/tags" class="btn btn-outline-primary">Cancel</a>
    <button type="submit" class="btn btn-primary">Create Tag!</button>
  </form>

{% endblock %}
